<table class="row top-title" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
    <tbody>
        <tr style="padding:0;text-align:left;vertical-align:top">
            <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0;text-align:left;width:580px">
                <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                    <tr style="padding:0;text-align:left;vertical-align:top">
                        <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;text-align:left">
                            <h1 style="Margin:0;Margin-bottom:10px;color:#1d1539;font-family:sans-serif,Arial;font-size:20px;font-weight:400;line-height:36px;margin:10px 15px;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">
                                Üdvözölünk,
                                <span style="color:#13c98a"><%= @notification.target.user.name %></span>!
                            </h1>
                            <p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;font-family:sans-serif,arial;font-size:16px;font-weight:400;line-height:1.3;margin:10px 15px 5px 15px;margin-bottom:10px;padding:0;text-align:left">
                                Sikeresen közzétettél egy feladatot:
                                <%= link_to "«#{ @notification.target.title }»",
                                            "#{ENV['PROTOCOL']}://#{ENV['HOST']}/tasks/#{@notification.target.id}",
                                            {style: "Margin:0;color:#13c98a;font-family:sans-serif,Arial;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none"} %>.
                            </p>
                        </th>
                        <th class="expander" style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;padding-left:0!important;text-align:left;visibility:hidden;width:0"></th>
                    </tr>
                </table>
            </th>
        </tr>
    </tbody>
</table>
<table class="row qjob-task-block" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
    <tbody>
        <tr style="padding:0;text-align:left;vertical-align:top">
            <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0;text-align:left;width:580px">
                <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                    <tr style="padding:0;text-align:left;vertical-align:top">
                        <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;padding-right:0;text-align:left">
                            <div class="site-block" style="margin:0 auto">
                                <div class="bordered-block" style="border:1px solid #ede8f7;border-radius:8px;box-shadow:0 8px 16px rgba(0,0,0,.1);box-sizing:border-box;margin:15px 15px 24px;padding:21px 24px 24px 24px">
                                    <% if @notification.target.address %>
                                    <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-12 large-3 columns first" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:25%">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;padding-right:0;text-align:left">
                                                                <p class="title first" style="Margin:0;Margin-bottom:10px;clear:both;color:#1d1539;display:inline-block;font-family:sans-serif,Arial;font-size:14px;font-weight:700;line-height:20px;margin:0;margin-bottom:14px;margin-top:0;padding:0;text-align:left">
                                                                    Hely
                                                                </p>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                                <th class="small-12 large-9 columns last" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:75%">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;padding-right:0;text-align:left">
                                                                <p style="Margin:0;Margin-bottom:10px;color:#1d1539;display:inline-block;font-family:sans-serif,Arial;font-size:14px;font-weight:400;line-height:20px;margin:0;margin-bottom:14px;margin-top:2px;padding:0;text-align:left">
                                                                    <%= @notification.target.address %>
                                                                </p>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <% end %>
                                    <% if @notification.target&.address_data.present? %>
                                    <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:100%">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;padding-right:0;text-align:left">
                                                                <a href="<%= "#{ENV['PROTOCOL']}://#{ENV['HOST']}/tasks/#{@notification.target.id}" %>"
                                                                   style="Margin:0;color:#2199e8;font-family:sans-serif,Arial;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">
                                                                    <%= image_tag map_for_task(@notification.target),
                                                                                  {alt: 'map', class: "map-image", style: "-ms-interpolation-mode:bicubic;border:none;border-radius:8px;clear:both;display:block;margin:11px 0 18px 0;max-width:100%;outline:0;text-decoration:none;width:100%"} %>
                                                                </a>
                                                            </th>
                                                            <th class="expander" style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0!important;padding-left:0!important;padding-right:0;text-align:left;visibility:hidden;width:0"></th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <% end %>
                                    <% if @notification.target.task_date_from %>
                                    <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-12 large-3 columns first" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:25%">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;padding-right:0;text-align:left">
                                                                <p class="title" style="Margin:0;Margin-bottom:10px;clear:both;color:#1d1539;display:inline-block;font-family:sans-serif,Arial;font-size:14px;font-weight:700;line-height:20px;margin:0;margin-bottom:14px;margin-top:2px;padding:0;text-align:left">
                                                                    Kezdés
                                                                </p>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                                <th class="small-12 large-9 columns last" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:75%">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;padding-right:0;text-align:left">
                                                                <div style="display:block;margin-bottom:14px;margin-top:2px">
                                                                    <span class="flame" style="background:#ede8f7;border-radius:4px;color:#1d1539;font-size:12px;line-height:20px;padding:4px 6px">
                                                                        <%= @notification.target.task_date_from
                                                                                                .strftime('%Y-%m-%d %H:%M')  %>
                                                                    </span>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <% end %>
                                    <% if @notification.target.task_date_until %>
                                    <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-12 large-3 columns first" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:25%">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;padding-right:0;text-align:left">
                                                                <p class="title" style="Margin:0;Margin-bottom:10px;clear:both;color:#1d1539;display:inline-block;font-family:sans-serif,Arial;font-size:14px;font-weight:700;line-height:20px;margin:0;margin-bottom:14px;margin-top:2px;padding:0;text-align:left">
                                                                    Határidő
                                                                </p>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                                <th class="small-12 large-9 columns last" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:75%">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;padding-right:0;text-align:left">
                                                                <div style="display:block;margin-bottom:14px;margin-top:2px">
                                                                    <span class="flame" style="background:#ede8f7;border-radius:4px;color:#1d1539;font-size:12px;line-height:20px;padding:4px 6px">
                                                                        <%= @notification.target.task_date_until
                                                                                                .strftime('%Y-%m-%d %H:%M')  %>
                                                                    </span>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <% end %>
                                    <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-12 large-3 columns first" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:25%">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;padding-right:0;text-align:left">
                                                                <p class="title" style="Margin:0;Margin-bottom:10px;clear:both;color:#1d1539;display:inline-block;font-family:sans-serif,Arial;font-size:14px;font-weight:700;line-height:20px;margin:0;margin-bottom:14px;margin-top:2px;padding:0;text-align:left">
                                                                    Kifizetés
                                                                </p>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                                <th class="small-12 large-9 columns last" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:75%">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;padding-right:0;text-align:left">
                                                                <p style="Margin:0;Margin-bottom:10px;color:#1d1539;display:inline-block;font-family:sans-serif,Arial;font-size:14px;font-weight:400;line-height:20px;margin:0;margin-bottom:14px;margin-top:2px;padding:0;text-align:left">
                                                                    <% if @notification.target.payment_method == 'sbr' %>
                                                                    Kockázatmentes üzlet
                                                                    <% else %>
                                                                    Készpénzes
                                                                    <% end %>
                                                                </p>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-12 large-3 columns first" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:25%">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;padding-right:0;text-align:left">
                                                                <p class="title" style="Margin:0;Margin-bottom:10px;clear:both;color:#1d1539;display:inline-block;font-family:sans-serif,Arial;font-size:14px;font-weight:700;line-height:20px;margin:0;margin-bottom:14px;margin-top:2px;padding:0;text-align:left">
                                                                    Ár
                                                                </p>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                                <th class="small-12 large-9 columns last" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:75%">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;padding-right:0;text-align:left">
                                                                <p class="price" style="Margin:0;Margin-bottom:10px;color:#1d1539;display:inline-block;font-family:sans-serif,Arial;font-size:14px;font-weight:400;line-height:20px;margin:0;margin-bottom:14px;margin-top:2px;padding:0;text-align:left">
                                                                    <span class="price-block" style="background:#ffda58;border-radius:4px;color:#1d1539;display:inline-block;font-family:sans-serif;font-size:14px;font-weight:600;line-height:16px;padding:4px 8px">
                                                                        <%= @notification.target.budget.format %>
                                                                    </span>
                                                                    <%# <span style="display:inline-block">
                                                                        , amely tartalmazza a
                                                                    </span>
                                                                    <span style="display:inline-block">
                                                                        <%= @notification.target.budget_cents * 0.05 
                                                                        szolgáltatási díjat.
                                                                    </span> %>
                                                                </p>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </th>
                    </tr>
                </table>
            </th>
        </tr>
    </tbody>
</table>
<table class="row block-tips" style="border-collapse:collapse;border-spacing:0;display:table;margin:0;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
    <tbody>
        <tr style="padding:0;text-align:left;vertical-align:top">
            <th class="small-12 large-12 columns first last" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0;text-align:left;width:580px">
                <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                    <tr style="padding:0;text-align:left;vertical-align:top">
                        <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;text-align:left">
                            <div class="wrapper" style="color:#1d1539;display:block;font-family:sans-serif,Arial;font-size:12px;line-height:20px;margin:0 15px;margin-right:15px;width:100%">
                                <div class="buttons nocenter marginOrigin no-top-margin" style="color:#1d1539;display:block;font-family:sans-serif,Arial;font-size:12px;line-height:20px;margin:24px 0 20px 21px;margin-right:15px;margin-top:0!important;text-align:initial">
                                    <%= link_to 'Ugrás a feladathoz',
                                                "#{ENV['PROTOCOL']}://#{ENV['HOST']}/tasks/#{@notification.target.id}",
                                                {class: "button inline", style: "Margin:0;background:#13c98a;border-radius:44px;color:#fff;display:inline-block;font-family:sans-serif,Arial;font-size:14px;font-weight:600;line-height:16px;margin:4px 5px;padding: 9px 16px 11px 16px;text-align:center;text-decoration:none"} %>
                                </div>
                            </div>
                            <div class="two-tips" style="border-radius:8px;box-sizing:border-box;color:#1d1539;display:block;font-family:sans-serif,Arial;font-size:12px;line-height:20px;margin:4px 15px 24px;margin-right:15px;padding:0">
                                <p class="paragraph no-margin" style="Margin:0;Margin-bottom:10px;color:#1d1539;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:21px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                                    Szakembereinknek egy kis időre van szüksége, hogy jelentkezzenek a feladatokra. Ezért néha több is időt is igénybe vehet a megfelelő szakember, ajánlat kiválasztása.
                                </p>
                                <div class="block50" style="color:#1d1539;display:block;font-family:sans-serif,Arial;font-size:12px;line-height:20px;margin:25px 12px 0;margin-right:15px">
                                    <div style="color:#1d1539;display:block;font-family:sans-serif,Arial;font-size:12px;line-height:20px;margin:0 0 15px 0;margin-right:15px">
                                        <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                                <tr style="padding:0;text-align:left;vertical-align:top">
                                                    <th class="small-5 large-3 columns first" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:25%">
                                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                                <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;text-align:left">
                                                                    <%= image_tag 'mails/select-hu.png', {alt: 'select', style: "-ms-interpolation-mode:bicubic;border:1px solid #d8d8d8;border-radius:50%;box-shadow:0 0 7px rgba(0,0,0,.21);clear:both;display:block;height:100px;max-width:100%;outline:0;text-decoration:none;width:100px"} %>
                                                                </th>
                                                            </tr>
                                                        </table>
                                                    </th>
                                                    <th class="small-7 large-9 columns last" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:75%">
                                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                                <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;text-align:left">
                                                                    <span class="padding12" style="color:#1d1539;display:block;font-size:16px;line-height:20px;padding:5px 0 5px 5px;vertical-align:middle">
                                                                        Ahhoz, hogy kiválaszd a neked megfelelő szakembert, kérjünk, nyomd meg a „Kiválasztás” gombot!
                                                                    </span>
                                                                </th>
                                                            </tr>
                                                        </table>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="color:#1d1539;display:block;font-family:sans-serif,Arial;font-size:12px;line-height:20px;margin:0 0 15px 0;margin-right:15px">
                                        <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                            <tbody>
                                                <tr style="padding:0;text-align:left;vertical-align:top">
                                                    <th class="small-5 large-3 columns first" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:25%">
                                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                                <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;text-align:left">
                                                                    <%= image_tag 'mails/isdone-hu.png', {alt: 'isdone', style: "-ms-interpolation-mode:bicubic;border:1px solid #d8d8d8;border-radius:50%;box-shadow:0 0 7px rgba(0,0,0,.21);clear:both;display:block;height:100px;max-width:100%;outline:0;text-decoration:none;width:100px"} %>
                                                                </th>
                                                            </tr>
                                                        </table>
                                                    </th>
                                                    <th class="small-7 large-9 columns last" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:75%">
                                                        <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                                <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;text-align:left">
                                                                    <span style="color:#1d1539;display:block;font-size:16px;line-height:20px;padding:15px 0 15px 5px;vertical-align:middle">
                                                                        Ne felejts el lezárni egy feladatot, hogy az elkészült!
                                                                    </span>
                                                                </th>
                                                            </tr>
                                                        </table>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-block" style="border:1px solid #ede8f7;border-radius:8px;box-shadow:0 8px 16px rgba(0,0,0,.1);box-sizing:border-box;color:#1d1539;display:block;font-family:sans-serif,Arial;font-size:12px;line-height:20px;margin:15px 15px 24px;margin-right:15px;padding:21px 24px 24px 24px">
                                <h3 style="Margin:0;Margin-bottom:10px;color:#1d1539;font-family:sans-serif,Arial;font-size:20px;font-weight:600;line-height:20px;margin:24px 0;margin-bottom:14px;padding:0;text-align:left;word-wrap:normal">
                                    Bármelyik pillanatban meg tudod változtatni a következőket:
                                </h3>
                                <div style="color:#1d1539;display:block;font-family:sans-serif,Arial;font-size:12px;line-height:20px;margin-right:15px">
                                    <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-8 large-8 columns first" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:66.66667%">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;text-align:left">
                                                                <p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;display:block;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left">
                                                                    <span class="title" style="background:0 0;color:#1d1539;display:block;font-size:14px;font-weight:700;line-height:20px;padding:0 0;vertical-align:initial">
                                                                        Megváltoztathatod a feladat feltételeit:
                                                                    </span>
                                                                    <span style="background:0 0;color:#1d1539;display:block;font-size:14px;line-height:20px;padding:0 0 5px;vertical-align:initial">
                                                                        A határidőt, a helyet, a feladat kategóriáját, stb.
                                                                    </span>
                                                                </p>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                                <th class="small-4 large-4 columns last" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:33.33333%">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;text-align:left">
                                                                <span class="button" style="display:block;float:right;padding:10px 0 0;text-align:right;vertical-align:top">
                                                                    <%= link_to "Kiválasztom",
                                                                                "#{ENV['PROTOCOL']}://#{ENV['HOST']}/tasks/edit/#{@notification.target.id}",
                                                                                {style: "Margin:0;background:#13c98a;border-radius:44px;color:#fff;font-family:sans-serif,Arial;font-size:14px;font-weight:400;line-height:16px;margin:0;padding:5px 20px;text-align:left;text-decoration:none"} %>
                                                                </span>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div style="color:#1d1539;display:block;font-family:sans-serif,Arial;font-size:12px;line-height:20px;margin-right:15px">
                                    <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-8 large-8 columns first" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:66.66667%">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;text-align:left">
                                                                <p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;display:block;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left">
                                                                    <span class="title" style="background:0 0;color:#1d1539;display:block;font-size:14px;font-weight:700;line-height:20px;padding:0 0;vertical-align:initial">
                                                                        Megváltoztathatod a feladat árát:
                                                                    </span>
                                                                    <span style="background:0 0;color:#1d1539;display:block;font-size:14px;line-height:20px;padding:0 0 5px;vertical-align:initial">
                                                                        Módosíthatod a feladat általad becsült költségét, vagy akár el is rejtheted.
                                                                    </span>
                                                                </p>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                                <th class="small-4 large-4 columns last" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:33.33333%">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;text-align:left">
                                                                <span class="button" style="display:block;float:right;padding:10px 0 0;text-align:right;vertical-align:top">
                                                                    <%= link_to "Kiválasztom",
                                                                                "#{ENV['PROTOCOL']}://#{ENV['HOST']}/tasks/edit/#{@notification.target.id}",
                                                                                {style: "Margin:0;background:#13c98a;border-radius:44px;color:#fff;font-family:sans-serif,Arial;font-size:14px;font-weight:400;line-height:16px;margin:0;padding:5px 20px;text-align:left;text-decoration:none"} %>
                                                                </span>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div style="color:#1d1539;display:block;font-family:sans-serif,Arial;font-size:12px;line-height:20px;margin-right:15px">
                                    <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                                <th class="small-8 large-8 columns first" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:66.66667%">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;text-align:left">
                                                                <p style="Margin:0;Margin-bottom:10px;color:#0a0a0a;display:block;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left">
                                                                    <span class="title" style="background:0 0;color:#1d1539;display:block;font-size:14px;font-weight:700;line-height:20px;padding:0 0;vertical-align:initial">
                                                                        Kapcsolatba léphetsz az ügyfélszolgálattal
                                                                    </span>
                                                                    <span style="background:0 0;color:#1d1539;display:block;font-size:14px;line-height:20px;padding:0 0 5px;vertical-align:initial">
                                                                        Kérd az ügyfélszolgálat segítségét, minden kérdésedre, észrevételedre megadja a választ.
                                                                    </span>
                                                                </p>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                                <th class="small-4 large-4 columns last" style="Margin:0 auto;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:0;padding-left:0!important;padding-right:0!important;text-align:left;width:33.33333%">
                                                    <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                                        <tr style="padding:0;text-align:left;vertical-align:top">
                                                            <th style="Margin:0;color:#0a0a0a;font-family:sans-serif,Arial;font-size:16px;font-weight:400;line-height:1.3;margin:0;padding:0;padding-left:0!important;text-align:left">
                                                                <span class="button" style="display:block;float:right;padding:10px 0 0;text-align:right;vertical-align:top">
                                                                    <%= link_to "Kiválasztom",
                                                                                "#{ENV['PROTOCOL']}://#{ENV['HOST']}/support",
                                                                                {style: "Margin:0;background:#13c98a;border-radius:44px;color:#fff;font-family:sans-serif,Arial;font-size:14px;font-weight:400;line-height:16px;margin:0;padding:5px 20px;text-align:left;text-decoration:none"} %>
                                                                </span>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </th>
                    </tr>
                </table>
            </th>
        </tr>
    </tbody>
</table>